@import "src/Sass/variables"

.TableBody-TableCell
  padding-left: 20px
  padding-top: 25px
  padding-bottom: 20px
  border-bottom: 1px solid $gray-color
  color: $primary-color
  font-weight: 700
  font-size: 17px
  font-family: sans-serif
  @media (max-width: 1250px)
    padding: 15px
    font-size: 14px
  @media (max-width: 768px)
    padding: 10px 0 10px 5px
    font-size: 11px
    &--date
      padding-right: 5px

.TableBody-TableCell--loading
  text-align: center
  padding: 30px 0

.TableBody-LoaderWrapper
  margin: 0 auto
  display: inline-block

.TableBody-TableCell--noData
  color: #E40321
  border-bottom: none
  text-align: center